@using ApplicationCore.Entities
@using System.Collections.ObjectModel

@model ObservableCollection<Group>

@{
	var courseId = ViewBag.courseId;
	var groupId = ViewBag.GroupId as Guid?;
	string tableHeight = "700px"; 
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Group Page</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
	integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link rel="stylesheet" href="~/css/style.css">
</head>

<body>
	<div class="wrapper">
		<aside id="sidebar" class="expand">
			<div class="d-flex">
				<button class="toggle-btn" type="button">
					<img class="sidebar-logo-img" src="/images/grid.png" />
				</button>
				<div class="sidebar-logo">
					<label>University</label>
				</div>
			</div>
			<ul class="sidebar-nav">
				<li class="sidebar-item">
					<a asp-controller="Home" asp-action="Index" class="sidebar-link">
						<img class="sidebar-logo-img" src="/images/home.png" />
						<span>Home</span>
					</a>
				</li>
				<li class="sidebar-item">
					<a asp-controller="Teacher" asp-action="Index" class="sidebar-link">
						<img class="sidebar-logo-img" src="/images/teachers.png" />
						<span>Teachers</span>
					</a>
				</li>
				<li class="sidebar-item">
					<a asp-controller="Schedule" asp-action="Index" class="sidebar-link">
						<img class="sidebar-logo-img" src="/images/sсhedule.png" />
						<span>Schedule</span>
					</a>
				</li>
				<li class="sidebar-item">
					<a asp-controller="Notifications" asp-action="Index" class="sidebar-link">
						<img class="sidebar-logo-img" src="/images/notifications.png" />
						<span>Notifications</span>
					</a>
				</li>
				<li class="sidebar-item">
					<a asp-controller="Settings" asp-action="Index" class="sidebar-link">
						<img class="sidebar-logo-img" src="/images/settings.png" />
						<span>Settings</span>
					</a>
				</li>
			</ul>
			<div class="sidebar-footer">
				<a href="#" class="sidebar-link">
					<img class="sidebar-logo-img" src="/images/exit.png" />
					<span>Logout</span>
				</a>
			</div>
		</aside>
		<div class="main">
			<nav class="navbar navbar-expand mb-5">
				<form action="#" class="d-none d-sm-inline-block"></form>
				<div class="navbar-collapse collapse">
					<ul class="navbar-nav ms-auto px-3">
						<li class="nav-item dropdown">
							<a asp-controller="Profile" asp-action="Index" class="nav-icon pe-md-0">
								<img src="/images/user.png" class="avatar img-fluid" alt="">
							</a>
						</li>
					</ul>
				</div>
			</nav>
			<main class="content px-5">

				@if (TempData["SuccessMessage"] != null)
				{
					<div class="alert alert-success">@TempData["SuccessMessage"]</div>
					tableHeight = "625px";
				}

				@if (TempData["ErrorMessage"] != null)
				{
					<div class="alert alert-danger">@TempData["ErrorMessage"]</div>
					tableHeight = "625px";
				}

				<div class="mb-2">
					<h2>List of groups</h2>
					<input type="hidden" id="courseId" name="courseId" value="@courseId" />
					<input type="hidden" id="groupId" name="groupId" value="@groupId" />
					<input type="hidden" id="selectedGroupId" name="groupId" />
				</div>
				<div class="d-flex align-items-center mb-3">
					<h5>Number of group @Model.Count</h5>
					<h5 class="me-2 px-2" style="margin-left: 80px;">Add new</h5>
					<a class="btn btn-primary position-relative rounded-circle p-0 d-flex align-items-center justify-content-center"
					   style="width: 42px; height: 42px; background-color: #0a2a66; position: relative; top: -5px; border: none;" asp-controller="Group" asp-action="Create" asp-route-courseId="@courseId">
						<img src="/images/plus.png" alt="Icon" style="width: 60%; height: 60%;">
					</a>
					<h5 class="me-2 px-2" style="margin-left: 545px; margin-right:260px"><strong>Students</strong></h5>
					<div class="ms-auto d-flex align-items-center">
						<h5 class="me-2 px-2">Add new</h5>
						<a id="add-student-btn" class="btn btn-primary position-relative rounded-circle p-0 d-flex align-items-center justify-content-center"
						   style="width: 42px; height: 42px; background-color: #0a2a66; border: none; position: relative; top: -5px;">
							<img src="/images/plus.png" alt="Icon" style="width: 60%; height: 60%;">
						</a>
					</div>
				</div>

				<div class="tables-container d-flex">
					<div class="scroll-tableg me-3" style="@($"height: {tableHeight};")">
						<table class="table-stripeds" style="width: 420px;">
							<thead>
								<tr>
									<th>Name</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								@foreach (var group in Model)
								{
									<tr>
										<td>
											<a href="#" class="group-link" data-group-id="@group.GroupId" style="display: block; text-decoration: none; color: inherit; padding: 10px;">
												@group.Name
											</a>
										</td>
										<td>
											<a class="btn action-btne" asp-controller="Group" asp-action="Edit" asp-route-courseId="@courseId" asp-route-groupId="@group.GroupId">
												<img src="/images/edit-box.png" />
											</a>
											<a class="btn action-btnd" asp-controller="Group" asp-action="Delete" asp-route-courseId="@courseId" asp-route-groupId="@group.GroupId" onclick="return confirm('Would you like to confirm your choice ?')">
												<img src="/images/delete.png" />
											</a>
										</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
					<div class="scroll-tables">
						<div id="students-container">
							@if (groupId == null)
							{
								<table class="table-striped">
									<thead>
										<tr>
											<th></th>
											<th>First Name</th>
											<th>Last Name</th>
											<th></th>
										</tr>
									</thead>
									<tbody>
									</tbody>
								</table>
							}
							else
							{
								var group = @Model.FirstOrDefault(g => g.GroupId == groupId);

								<table class="table-striped">
									<thead>
										<tr>
											<th></th>
											<th>First Name</th>
											<th>Last Name</th>
											<th></th>
										</tr>
									</thead>
									<tbody>
										@foreach (var student in group.Students)
										{
											<tr>
												<td><img src="/images/student.png" style="height: 40px; width: 40px" /></td>
												<td>@student.FirstName</td>
												<td>@student.LastName</td>
												<td>
													<a class="btn action-btne" asp-controller="Student" asp-action="Edit" asp-route-courseId="@courseId" asp-route-groupId="@student.GroupId" asp-route-studentId="@student.StudentId">
														<img src="/images/edit-box.png" />
													</a>
													<a class="btn action-btnd" asp-controller="Student" asp-action="Delete" asp-route-courseId="@courseId" asp-route-groupId="@student.GroupId" asp-route-studentId="@student.StudentId" onclick="return confirm('Would you like to confirm your choice ?')">
														<img src="/images/delete.png" />
													</a>
												</td>
											</tr>
										}
									</tbody>
								</table>
							}
						</div>
					</div>
				</div>
			</main>
		</div>
	</div>
	<script src="~/js/script.js"></script>
</body>
</html>
